* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
body:has(dialog[open]){
    overflow: hidden !important;
}
button, input {
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none; 
    cursor: pointer;
}
ul, ol {
    list-style: none; 
}
img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.titulos {
    font-family: var(--fonte-titulos);
    font-size: 24px;
}
p {
    font-family: var(--fonte-textos);
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--fonte-titulos);
}

/* =========================================
   TOAST DE FEEDBACK (NOTIFICAÇÕES)
========================================= */

#toast-feedback {
    font: var(--fonte-titulos);
    position: fixed;
    top: 10px;
    right: 10px;
    color: #ffffff;
    padding: 14px 22px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 300;
    z-index: 10000 !important;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    pointer-events: none;
}

/* Quando estiver ativo na tela */
#toast-feedback.mostrar {
    opacity: 1;
    transform: translateY(0);
}

/* Cores baseadas na sua paleta de identidade visual */
#toast-feedback.sucesso {
    background-color: var(--logo-verde);
}

#toast-feedback.removido {
    background-color: var(--logo-rosa);
}