* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scrollbar-width: none
}
body{
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
body:has(dialog[open]){
    overflow: hidden;
}
button, input {
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none; 
    cursor: pointer;
}
ul, ol {
    list-style: none; 
}
img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.titulos {
    font-family: var(--fonte-titulos);
}
p {
    font-family: var(--fonte-textos);
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--fonte-titulos);
}