.buscar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: white;
}
.material-symbols-outlined.lupa{
    font-size: 30px;
}
#campo-lupa{
    font-size: 16px;
    width: 80%;
}