.buscar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    cursor: text;
}
.material-symbols-outlined.lupa{
    font-size: 30px;
}
#campo-lupa{
    font-size: 16px;
    width: 80%;
    cursor: text;
}
#form-pesquisa {
    display: contents;
    margin: 0;
    padding: 0;
    border: none;
}