@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Nunito:wght@400;600;700;800&display=swap');


:root{
    --padrao: #FE5000;

    --logo-rosa: #FF3F7F;   
    --logo-laranja: #FE5000; 
    --logo-azul: #1EAA9A;
    --logo-verde: #7CBD3F; 

    /* =========================================
       FAMÍLIAS DE FONTES
       ========================================= */
    /* Para H1, H2, banners, botões grandes e preços em destaque */
    --fonte-titulos: 'Fredoka', sans-serif; 
    
    /* Para parágrafos, menus, inputs e descrições longas */
    --fonte-textos: 'Nunito', sans-serif;

    /* =========================================
       PESOS DAS FONTES (Gordura)
       ========================================= */
    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --font-weight-black: 800; /* Ótimo para destacar promoções */
}
